@import 'styleCalendar';

$color-purple: #7413DB;
$color-white: #ffffff;
$color-red: #FF4D4D;
$color-bg-gray: #EFF1F4;

@mixin text-gray {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #999;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

body {
	font-family: 'Inter', sans-serif;
}

.header {
	background-color: #7413DB;
	padding-bottom: 108px;

	&__nav {
		padding-top: 7px;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.5;
		color: $color-white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			text-decoration: none;
			color: $color-white;
		}
		&-list {
			margin-bottom: 45px;
			list-style: none;
			display: flex;
			gap: 35px;
			li:nth-child(n+2) {
				position: relative;
				&:after {
					content: '▼';
					font-size: 6px;
					margin-left: 5px;
					position: relative;
					top: -2px;
					transition: all 0.3s;
					display: inline-block;
				}
				&:hover {
					color: $color-red;
					&:after {
						transform: rotate(180deg);
					}
				}
			}
			&-item {
				display: inline-block;
				cursor: pointer;
				&:nth-child(4) {
					a {
						&::before {
							position: relative;
							content: url(../img/globe.svg);
							color: #666;
							margin-right: 5px;
							top: 3px;
						}
					}
				}
				&:hover {
					a {
						transition: all 0.3s;
						color: $color-red;
					}
				}
			}
		}
	}

	&__intro {
		&-title {
			font-size: 36px;
			font-weight: 400;
			line-height: 1.2;
			color: #FEA9BC;
			margin-bottom: 29px;
		}

		&-themes {
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
			button {
				font-weight: 600;
				background-color: #8753DD;
				color: $color-white;
				padding: 8px 24px;
				border: none;
				border-radius: 30px;
				cursor: pointer;
				&.active-btn {
					background-color: $color-white;
					color: black;
				}
				&:nth-child(4) {
					padding: 8px 16px 8px 18px;
					&:after {
						content: '-60%';
						margin-left: 10px;
						background: #71B62C;
						padding: 3px 6px;
						border-radius: 10px;
					}
				}
			}
		}

		&-search {
			display: flex;

			max-width: 100%;
			gap: 10px;
			margin-bottom: 15px;

			&-inputs {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
			}

			&-input {
				height: 70px;
				min-width: 0;
				width: 100%;
				border: none;
				padding: 25px 10px 10px 15px;
				font-size: 16px;

				&:focus {
					outline: 2px solid #E31C19;
					outline-offset: -1px;
				}
				&:focus,
        &:not(:placeholder-shown) {
						& + .header__intro-search-label {
							top: 35%;
							font-size: 12px;

					}

        }
				&::placeholder {
						opacity: 0;
				}
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
						-webkit-box-shadow: 0 0 0 30px white inset;
						-webkit-text-fill-color: inherit;
						transition: background-color 5000s ease-in-out 0s;
				}


				&-box {
					flex: 1;
					background-color: $color-white;
					position: relative;
					border: 2px solid #EFF1F4;
					flex: 1 1 200px;
          min-width: 200px;
					&-to {
						flex: 1;
						background-color: $color-white;
						position: relative;
						border: 2px solid #EFF1F4;
						border-left: none;
						border-right: none;
						flex: 1 1 200px;
          	min-width: 200px;
						padding-right: 1px;
						input {
							padding-left: 20px;
						}
						label {
							left: 15px;
						}
					}
				}
			}

			&-exchange {
				position: absolute;
				right: -14px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 2;
				background-color: $color-red;
				border-radius: 50%;
				&:hover {
					background-color: #ff1919;

				}
			}

			&-label {
				position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        padding: 0 5px;
        color: #999;
        transition: all 0.2s ease-in-out;
				pointer-events: none;
			}

			&-button {
				height: 73px;
				flex: 0 0 120px;
				background-color: #F74069;
				color: $color-white;
				font-size: 16px;
				font-weight: 600;
				line-height: 1.5;
				border: none;
				border-radius: 5px;
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
				cursor: pointer;
				@include button-click;
				&:hover {
					background-color: $color-red;
				}
			}
		}

		&-text {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: $color-white;
			margin-top: 10px;
			text-decoration: none;
			transition: all 0.3s;
			&::before {
				content: url(../img/road-alt-svgrepo-com.svg);
				margin-right: 10px;
				position: relative;
				top: 2px;
			}
			&:hover {
				color: $color-red;
			}
		}
	}
	&__fields-date {
		display: flex;
		.header__intro-search-input-box{
			border-right: none;
			border-left: none;
			padding-right: 1px;
		}
		.header__intro-search-input-box-there {
			@extend .header__intro-search-input-box;
			border-left: 2px solid #EFF1F4;
		}
		.header__intro-search-input-box-back {
			@extend .header__intro-search-input-box;
			&::before {
				content: '|';
				position: absolute;
				left: -5px;
				top: 50%;
				transform: translateY(-50%);
				color: #EFF1F4;
				font-size: 22px;
				font-weight: 200;
				z-index: 1;
			}
		}
		.header__intro-search-input-box-there:focus-within ~ .header__intro-search-input-box-back::before,
		.header__intro-search-input-box-back:focus-within::before {
				display: none;
		}

	}

}


//?MAIN--------------------------------

.main {
	background-color: $color-bg-gray;
}

.bilets__box {
	display: flex;
	padding: 20px 0;
	gap: 30px;
	justify-content: space-between;
}

.bilets__item {
	background-color: $color-white;
	display: flex;
	gap: 20px;
	padding: 20px 20px 0 25px;
	border-radius: 7px;
	box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);

	&-content {
		&-title {
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 10px;
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			line-height: 1;
			list-style: none;
			@include text-gray;
			margin-bottom: 25px;

			li {
				margin-right: 10px;
				&::before {
					content: url(../img/checkmark.svg);
					margin-right: 2px;
				}
				&:nth-child(3) {
					display: inline-block;
					width: 100%;
				}
			}
		}
		&-button {
			text-decoration: none;
			color: #F7469B;
			background-color: #FFE8ED;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
			padding: 10px 15px;
			transition: all 0.3s;
			@include button-click;
			&:hover {
				background-color: #F74069;
				color: $color-white;
			}
		}
	}
	&-image {
		width: 140px;
		height: 140px;
		img {
			position:relative;
			width: 150px;
			height: 150px;
			object-fit: cover;
		}
	}
}

.bilets__item-bus {
	@extend .bilets__item;
	&-image {
		img {
			position:relative;
			width: 150px;
			height: 150px;
			object-fit: contain;
		}
	}
}


//?POPULAR DESTINATIONS--------------------------------
.popular_dest__box {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}


.popular_dest__content-left {
	width: 65%;
	&-title {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	&-box {
		width: 100%;
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 7px;
		box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);

		background: white;
		&-item {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 50px;
			
			&:not(:last-child) {
				border-bottom: 2px solid #EFF1F4;
				padding-bottom: 25px;
			}

			&-wrapper {
				display: flex;
				justify-content: space-between;
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
		}


		&-route {
			display: inline-block;
			opacity: 0.6;
		}
		&-price {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: #F96365;
			display: inline-block;
		}
	}
}
.popular_dest__content-right {
	width: 32%;
	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		&-h4 {
			@extend .popular_dest__content-left-title;
			margin-bottom: 0;
		}
		&-link {
			text-decoration: none;
			color: #A0B1F6;
			font-size: 12px;
			transition: color 0.3s;
			&:hover {
				color: #3E89F8;
			}
		}
	}

	&-box {
		background-color: white;
		padding: 20px;
		border-radius: 7px;
		box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);

		&-list {
			list-style: none;
      counter-reset: my-counter;

			li {
				font-size: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 8px;

				&::before {
					content: counter(my-counter);
					counter-increment: my-counter;
					color: #666;
					min-width: 20px;
				}

			a {
				width: 100%;
				text-decoration: none;
				color: #3E89F8;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:after {
					content: url(../img/star.svg) '\00a0\00a0 4.7' ;
					color: #666;
				}
				&:hover {
					color: #0042a6;
				}
			}
			&:nth-child(6) {
				a {
					&::after {
						content: url(../img/star.svg) '\00a0\00a0 4.6' ;
					}
				}
			}
			&:nth-child(n+6):nth-child(-n+10) {
				a {
					&::after {
						content: url(../img/star.svg) '\00a0\00a0 4.5' ;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}
}



//?QUESTIONS--------------------------------
.questions {
	&__box {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 70px;
	}
	&__content-left {
		width: 65%;
		&-title {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		&-box {
			background: white;
			padding: 20px;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			&-title {
				font-size: 14px;
				margin-bottom: 10px;
				opacity: 0.69;
				&:nth-child(n+2) {
					margin-top: 20px;
				}	
			}
			&-text {
				margin-bottom: 0;
				font-size: 12px;
				font-weight: 400;
				line-height: 1.5;
				color: #999;
			}
		}
	}
	&__content-right {
		width: 32%;
		&-title {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 20px;
		}
		&-box {
			background: white;
			padding: 20px;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			
			font-size: 15px;
			ul {
				list-style: none;
				color: #3E89F8;
				li {
					display: flex;
					align-items: center;
					gap: 8px;
					a {
						font-size: 15px;
						margin-bottom: 20px;
						text-decoration: none;
						color: #3E89F8;
						transition: color 0.3s;
						&:hover {
							color: #0042a6;
						}
					}
					&:last-child {
						a {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		&-email {
			margin-top: 25px;
			padding: 25px;
			background: #D0D1FA;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			&-title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;
				h4 {
					font-size: 16px;
					font-weight: 300;
					line-height: 1.5;
					opacity: 0.69;
				}
			}
			input {
				border: none;
				padding: 12px;
				border-radius: 5px;
				width: 85%;
			}
			button {
				border-radius: 5px;
				padding: 12px 18px;
				background: #F74069;
				color: $color-white;
				cursor: pointer;
				margin-left: -3px;
				border: none;
				&:hover {
					background: #ff1919;
				}
			}
		}
	}
}



//?FOOTER--------------------------------
.footer {
	&__box {
		padding: 20px 0;
	}
	&__images {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		margin-bottom: 45px;
		img {
			width: 60px;
			height: 60px;
			&:nth-child(2) {
				width: 140px;
				height: 60px;
			}
		}
	}
	&__lists {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 0 0 30px 0;
		border-bottom: 2px solid #D8D9DC;
		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 20px;
			justify-content: space-between;
			li {
				margin-bottom: 10px;

				opacity: 0.69;
				&:first-child {
					opacity: 0.9;
					font-weight: 700;
					margin-bottom: 20px;
				}
				a {
					color: #3E89F8;
					transition: color 0.3s;
					text-decoration: none;
					&:hover {
						color: #0042a6;
					}
				}
			}
		}

	}

	&__social {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		&-left {
			display: flex;
			gap: 10px;
			a {
				&:first-child {
					text-decoration: none;
					color: #3E89F8;
					transition: all 0.3s;
					&:hover {
						color: $color-white;
						background: black;
					}
					margin-right: 10px;
					border-radius: 5px;
					padding: 10px 15px;
					border: 1px solid #3E89F8;
				}
				&:nth-child(2) {
					text-decoration: none;
					color: $color-white;
					transition: all 0.3s;
					margin-right: 10px;
					border-radius: 5px;
					padding: 12px 30px;
					background: black;
					&:hover {
						color: $color-white;
						background: black;
					}


				}
				&:last-child {
					text-decoration: none;
					color: $color-white;
					transition: all 0.3s;
					margin-right: 10px;
					border-radius: 5px;
					padding: 12px 30px;
					background: black;
					&:hover {
						color: $color-white;
						background: black;
					}
				}

			}
		}

		&-right {
			display: flex;
			gap: 10px;
			img {
				filter: grayscale(100%);
				transition: filter 0.3s;
				cursor: pointer;
				&:first-child {
					width: 44px;
					height: 44px;
					position: relative;
					top: -1px;
				}
				&:nth-child(2) {
					width: 41px;
					height: 41px;
				}
				&:nth-child(3) {
					width: 41px;
					height: 41px;
				}
				&:hover {
					filter: grayscale(0%);
				}
			}
		}
	}

}

.inactive-btn {
	&:hover {
		background: #8961ca;
	}
}


//?PASS--------------------------------
.pass__box {
	position: absolute;
	border: 1px solid #EFF1F4;
	background: white;
	right: -2px;
	width: 350px;
	z-index: 2;
	transition: transform 0.4s ease, opacity 0.4s ease;
	transform: translateY(-20%);
	opacity: 0;

	ul {
		padding: 15px;
		>span:nth-child(1) {
			display: block;
			font-size: 16px;
			color: #999;
			margin-bottom: 25px;

		}
	}

	&-classes {
		padding: 15px;
		&-title {
			font-size: 16px;
			display: block;
			margin-bottom: 15px;
		}
		&-item {
			display: flex;
			gap: 10px;
			margin-bottom: 30px;
			cursor: pointer;
			.active_class {
				background: #F74169;
				color: $color-white;
				padding: 10px 10px;
				border-radius: 20px;
				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
			}
			.inactive_class {
				background: $color-white;
				color: black;
				padding: 10px 10px;
				border-radius: 20px;
				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
				transition: all 0.2s;
				&:hover {
					background: #EFF1F4;
				}
			}
		}
		button {
			width: 100%;
			background: #F74169;
			color: $color-white;
			padding: 14px 10px;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
			transition: all 0.1s;
			@include button-click;
			&:hover {
				background: #FF4D4D;
			}
		}
	}
	pointer-events: none;
}

//Анимация появления
.pass__box.visible {
	transform: translateY(0);
	opacity: 1;
	pointer-events: auto;
}


.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	span {
		font-size: 16px;
		color: black;
		
		span {
			display: block;
			font-size: 12px;
			margin-top: 5px;
			color: #999;
		}
	}
}

.minus, .plus {
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
	cursor: pointer;
	background: #FFF;
	font-weight: 100;
	color: #A6ACB1;
	border: none;
	transition: all 0.2s;
	&:hover {
		background: #EFF1F4;
	}
}

.minus {
	padding-bottom: 3px;
}

.counter {
	position: relative;
	top: -3px;
	padding: 0 10px;
}

.custom-hr {
	border: 0;
	border-top: 1px solid #E8EAEB; 
}


.disabled-btn {
	pointer-events: none;
  opacity: 0.5;        
  cursor: not-allowed; 
}
#pass {
	cursor: pointer; 
	input {
		pointer-events: none;
	}
}



//?CITY SUGGESTIONS--------------------------------
.city-suggestions {
	position: absolute;
	z-index: 2;
	top: 72px;
	left: -2px;
	width: 150%;
	max-height: 200px;
	overflow-y: auto;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	z-index: 2;
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding: 20px 12px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:hover {
			background-color: #f5f5f5;
		}
	}
	&__li-content {
		&-left {
			&:before {
				content: url(../img/place-marker.svg);
				width: 10px;
				height: 10px;
				margin-right: 10px;
				position: relative;
				top: 3px;
			}
		}
		&-right {
			
		}
	}
}



.iata {
	font-size: 12px;
	color: #999;
}



