@import 'styleCalendar';
@import 'pass';
@import 'city-suggestions';
@import 'animation';

$color-purple: #7413DB;
$color-white: #ffffff;
$color-red: #FF4D4D;
$color-bg-gray: #EFF1F4;

@mixin text-gray {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #999;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	// -webkit-user-select: none;
	// user-select: none;

}

html {
	width: 100%;
	overscroll-behavior-x: none;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;

  @media (max-width: 500px) {
    padding: 0 15px;
  }
}


body {
	font-family: 'Inter', sans-serif;
}

.header {
	background-color: #7413DB;
	padding-bottom: 108px;


	&__nav {
		padding-top: 10px;
		padding-bottom: 75px;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.5;
		color: $color-white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			text-decoration: none;
			color: $color-white;
			
		}
		&-list {
			list-style: none;
			display: flex;
			gap: 60px;
			li:nth-child(n+2) {
				position: relative;
				>a:after {
					content: '▼';
					font-size: 6px;
					margin-left: 5px;
					position: relative;
					top: -2px;
					transition: all 0.3s;
					display: inline-block;
				}
				&:hover {
					color: $color-red;
				}
			}
			&-item {
				display: inline-block;
				cursor: pointer;
				&:nth-child(4) {
					>a {
						&::before {
							position: relative;
							content: url(../img/globe.svg);
							color: #666;
							margin-right: 5px;
							top: 3px;
						}
					}
				}
				a {
					
				}
				&:hover {
					>a {
						transition: all 0.1s;
						color: $color-red;
						&:after {
							transform: rotate(180deg);
						}
					}
				}
			}
			@media (max-width: 500px) {
				position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #3B3B3F;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

				li:nth-child(4) {
					display: none;
				}

				&.active {
          transform: translateX(0); 
          opacity: 1;
          visibility: visible;
          display: flex;
          flex-direction: column;
          gap: 0;
          padding: 10px 0;
          z-index: 5;
				}
				&-item {
					font-size: 18px;
					max-width: 70%;
					padding: 20px;
					&:nth-child(4) {
						a {
							display: none;
							&::before {
								
							}
						}
					}
				}
			}
		}
		@media (max-width: 500px) {
			justify-content: flex-end;
			gap: 20px;

			margin-bottom: 25px;
		}
		&-adaptive-globe {
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
		&-adaptive-menu {
			display: none;
			@media (max-width: 500px) {
				display: block;
				z-index: 10;
			}
		}
	}

	&__intro {
		&-title {
			font-size: 36px;
			font-weight: 400;
			line-height: 1.2;
			color: #FEA9BC;
			margin-bottom: 29px;
			@media (max-width: 500px) {
				font-size: 30px;
				width: 90%;
			}
		}

		&-themes {
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
			@media (max-width: 500px) {
				overflow-x: scroll;
				scrollbar-width: none;
				white-space: nowrap;
			}
			button {
				font-weight: 600;
				background-color: #8753DD;
				color: $color-white;
				padding: 8px 24px;
				border: none;
				border-radius: 30px;
				cursor: pointer;
				@media (max-width: 500px) {
					padding: 4px 20px;
				}
				&.active-btn {
					background-color: $color-white;
					color: black;
				}
				&:nth-child(4) {
					padding: 8px 16px 8px 18px;
					&:after {
						content: '-60%';
						margin-left: 10px;
						background: #71B62C;
						padding: 3px 6px;
						border-radius: 10px;
					}
				}
			}
		}

		&-search {
			display: flex;

			max-width: 100%;
			gap: 10px;
			margin-bottom: 15px;
			@media (max-width: 500px) {
				flex-direction: column;
			}

			&-inputs {
				display: flex;
				width: 100%;
				box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
				@media (max-width: 1000px) {
					flex-wrap: wrap;
				}
				@media (max-width: 500px) {
					background-color: white;
				}
			}

			&-input {
				height: 70px;
				min-width: 0;
				width: 100%;
				border: none;
				padding: 25px 10px 10px 15px;
				font-size: 16px;

				&:focus {
					outline: 2px solid #E31C19;
					outline-offset: -1px;
					@media (max-width: 500px) {
						outline: 1px solid #E31C19;
						outline-offset: -2px;
					}
				}
				&:focus,
        &:not(:placeholder-shown) {
						& + .header__intro-search-label {
							top: 35%;
							font-size: 12px;

					}

        }
				&::placeholder {
						opacity: 0;
				}
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
						-webkit-box-shadow: 0 0 0 30px white inset;
						-webkit-text-fill-color: inherit;
						transition: background-color 5000s ease-in-out 0s;
				}


				&-box {
					flex: 1;
					background-color: $color-white;
					position: relative;
					border: 2px solid #EFF1F4;
					flex: 1 1 200px;
          
					@media (max-width: 500px) {
						border: none;
					}
					&-to {
						flex: 1;
						background-color: $color-white;
						position: relative;
						border: 2px solid #EFF1F4;
						border-left: none;
						border-right: none;
						flex: 1 1 200px;
          	min-width: 200px;
						padding-right: 1px;
						input {
							padding-left: 20px;
						}
						label {
							left: 15px;
						}
					}
				}
			}

			&-exchange {
				position: absolute;
				right: -18px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 2;
				background-color: $color-white;
				border: 1px solid $color-red;
				border-radius: 50%;
				padding: 3px;
				@media (min-width: 501px) {
					&:hover {
						background-color: #F74069;
					}
				}
				@media (max-width: 500px) {
					right: 15px;
					top: 52px;
					transform: rotate(90deg);
					&:active {
						background-color: #F74069;
					}
				}
			}

			&-label {
				position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        padding: 0 5px;
        color: #999;
        transition: all 0.2s ease-in-out;
				pointer-events: none;
			}

			&-button {
				height: 73px;
				flex: 0 0 120px;
				background-color: #F74069;
				color: $color-white;
				font-size: 16px;
				font-weight: 600;
				line-height: 1.5;
				border: none;
				border-radius: 5px;
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
				cursor: pointer;
				@include button-click;
				&:hover {
					background-color: $color-red;
				}
				@media (max-width: 500px) {
					flex: 0 0 70px;
				}
			}
		}

		&-text {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: $color-white;
			margin-top: 10px;
			text-decoration: none;
			transition: all 0.3s;
			&::before {
				content: url(../img/road-alt-svgrepo-com.svg);
				margin-right: 10px;
				position: relative;
				top: 2px;
			}
			@media (min-width: 501px) {
				&:hover {
					color: $color-red;
				}
			}
			@media (max-width: 500px) {
				&:active {
					color: $color-red;
				}
			}
		}
	}
	&__fields-date {
		// display: flex;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: 500px) {
			width: 100%;
		}
		
		.header__intro-search-input-box{
			border-right: none;
			border-left: none;
			padding-right: 1px;
		}
		.header__intro-search-input-box-there {
			@extend .header__intro-search-input-box;
			border-left: 2px solid #EFF1F4;
		}
		.header__intro-search-input-box-back {
			@extend .header__intro-search-input-box;
			&::before {
				content: '|';
				position: absolute;
				left: -5px;
				top: 50%;
				transform: translateY(-50%);
				color: #EFF1F4;
				font-size: 22px;
				font-weight: 200;
				z-index: 1;
			}
			@media (max-width: 500px) {
				border: none;
			}
		}
		.header__intro-search-input-box-there:focus-within ~ .header__intro-search-input-box-back::before,
		.header__intro-search-input-box-back:focus-within::before {
				display: none;
		}


	}

	&__fields-cities {
		display: flex;
		@media (max-width: 500px) {
			flex-direction: column;
			width: 100%;
			.header__intro-search-input-box {
				width: 100%;
				flex: 0 0 70px;
			}
			.header__intro-search-input-box-to {
				flex: 0 0 70px;
				width: 100%;
				border-top: 1px solid #D3D5D8;
				border-bottom: 1px solid #D3D5D8;
			}
		}
	}

}



//?DROP-MENU--------------------------
.drop-menu {
	position: absolute;
	top: 100%;
	left: 0;
	max-width: 500%;
	min-width: 100%;
	background-color: $color-white;
	z-index: 2;
	list-style: none;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s ease-in-out;
	font-size: 12px;
	@media (max-width: 500px) {
		display: none;
		position:relative;
		top: 0;
		background: inherit;
		font-size: inherit;
		color: white;
		margin-top: 15px;
		// max-height: 0;
		
	}
	li:nth-child(n) {
		padding: 10px;
		white-space: nowrap;
		a:after {
			content: none;
		}
		@media (min-width: 501px) {
			&:hover {
				background-color: #EFF1F4;
			}
		}
		@media (max-width: 500px) {
			&:active {
				color: #FF4D4D; 
			}
		}

	}
	a {
		color: black;
		@media (max-width: 500px) {
			color: white;
		}
	}
}

.drop-menu-out {
	animation: myAnimOut 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.drop-menu-in {
	visibility: visible;
	opacity: 1;
	animation: myAnimIn 0.3s ease-in-out;
	@media (max-width: 500px) {
		display: block;
		// max-height: 500%;
	}
}








//?MAIN--------------------------------

.main {
	background-color: $color-bg-gray;
}

.bilets__box {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	gap: 30px;
	justify-content: space-between;
	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.bilets__item {
	background-color: $color-white;
	display: flex;
	gap: 20px;
	padding: 20px 20px 20px 25px;
	border-radius: 7px;
	box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
	@media (max-width: 500px) {
		padding-bottom: 20px;
	}

	&-content {
		position: relative;
		@media (max-width: 500px) {
			padding-bottom: 30px;
		}
		&-title {
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 10px;
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			line-height: 1;
			list-style: none;
			@include text-gray;
			margin-bottom: 25px;
			@media (max-width: 500px) {

			}

			li {
				margin-right: 10px;
				&::before {
					content: url(../img/checkmark.svg);
					margin-right: 2px;
				}
				&:nth-child(3) {
					display: inline-block;
					width: 100%;
				}
			}
		}
		&-button {
			text-decoration: none;
			color: #F7469B;
			background-color: #FFE8ED;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
			padding: 10px 15px;
			transition: all 0.3s;
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 0;
			@include button-click;
			@media (min-width: 501px) {
				&:hover {
					background-color: #F74069;
					color: $color-white;
				}
			}
			@media (max-width: 400px) {
				font-size: 12px;
				white-space: nowrap;
			}
		}
	}
	&-image {
		width: 140px;
		height: 140px;
		img {
			position:relative;
			width: 150px;
			height: 150px;
			object-fit: cover;
			@media (max-width: 500px) {
				display: none;
			}
		}
	}
}

.bilets__item-bus {
	@extend .bilets__item;
	@media (max-width: 500px) {
		li:nth-child(2) {
			display: inline-block;
			width: 100%;
		}
	}
	&-image {
		img {
			position:relative;
			width: 150px;
			height: 150px;
			object-fit: contain;
			@media (max-width: 500px) {
				display: none;
			}
		}
	}
}


//?POPULAR DESTINATIONS--------------------------------
.popular_dest__box {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	@media (max-width: 500px) {
		flex-direction: column;
	}
}


.popular_dest__content-left {
	width: 65%;
	@media (max-width: 500px) {
		width: 100%;
		display: none;
	}

	&-adaptive { //!АДАПТИВН--------------!!!!!
		@extend .popular_dest__content-left;
		display: none;
		@media (max-width: 500px) {
			display: block;
		}
	}

	&-title {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	&-box {
		width: 100%;
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 7px;
		box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
		@media (max-width: 500px) {
			padding: 20px 0;
		}

		background: white;
		&-item {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 50px;
			@media (max-width: 500px) {
				display: block;
			}
			
			&:not(:last-child) {
				border-bottom: 2px solid #EFF1F4;
				padding-bottom: 25px;
				@media (max-width: 500px) {
					padding-bottom: 15px;
				}
			}

			&-wrapper {
				display: flex;
				justify-content: space-between;
				@media (max-width: 500px) {
					flex-direction: column;
					gap: 3px;
				}
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
		}


		&-route {
			display: inline-block;
			opacity: 0.6;
		}
		&-price {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: #F96365;
			display: inline-block;
		}
	}
}
.popular_dest__content-right {
	width: 32%;
	@media (max-width: 500px) {
		padding-top: 20px;
		width: 100%;
	}
	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		&-h4 {
			@extend .popular_dest__content-left-title;
			margin-bottom: 0;
		}
		&-link {
			text-decoration: none;
			color: #A0B1F6;
			font-size: 12px;
			transition: color 0.3s;
			&:hover {
				color: #3E89F8;
			}
		}
	}

	&-box {
		background-color: white;
		border-radius: 7px;
		box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);

		&-list {
			list-style: none;
      counter-reset: my-counter;

			li {
				font-size: 15px;
        padding: 12px 20px;
        display: flex;
        align-items: center;
				cursor: pointer;
        

				&::before {
					content: counter(my-counter);
					counter-increment: my-counter;
					color: #666;
					min-width: 20px;
				}
				@media (min-width: 501px) {
					&:hover {
						background: #EFF1F4;
						a{
							color: #0042a6;
						}
					}
				}

			a {
				width: 100%;
				text-decoration: none;
				color: #3E89F8;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:after {
					content: url(../img/star.svg) '\00a0\00a0 ' var(--rating) ;
					color: #666;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}
}



//?QUESTIONS--------------------------------
.questions {
	&__box {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 70px;
		@media (max-width: 500px) {
			flex-direction: column;
		}
	}
	&__content-left {
		width: 65%;
		@media (max-width: 500px) {
			width: 100%;
		}
		&-title {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		&-box {
			background: white;
			padding: 20px;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			&-title {
				font-size: 14px;
				margin-bottom: 10px;
				opacity: 0.69;
				&:nth-child(n+2) {
					margin-top: 20px;
				}	
			}
			&-text {
				margin-bottom: 0;
				font-size: 12px;
				font-weight: 400;
				line-height: 1.5;
				color: #999;
			}
		}
	}
	&__content-right {
		width: 32%;
		@media (max-width: 500px) {
			padding-top: 25px;
			width: 100%;
		}
		&-title {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 20px;
		}
		&-box {
			background: white;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			
			font-size: 15px;
			ul {
				list-style: none;
				color: #3E89F8;
				li {
					display: flex;
					align-items: center;
					padding: 12px 20px;
					cursor: pointer; 
					a {
						font-size: 15px;
						text-decoration: none;
						color: #3E89F8;
					}
					&:last-child {
						a {
							margin-bottom: 0;
						}
					}
					@media (min-width: 501px) {
						&:hover {
							background: #EFF1F4;
							a{
								color: #0042a6;
							}
						}
					}
				}
			}
		}
		&-email {
			margin-top: 25px;
			padding: 25px;
			background: #D0D1FA;
			border-radius: 7px;
			box-shadow: 0px 5px 13px -10px rgba(34, 60, 80, 0.54);
			&-title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;
				h4 {
					font-size: 16px;
					font-weight: 300;
					line-height: 1.5;
					opacity: 0.69;
				}
			}
			&-box {
				position: relative;
				img {
					position: absolute;
					right: 60px;
					top: -20px;
					background: #F74069;
					padding: 5px;
					border-radius: 50%;
					opacity: 0;
					transition: opacity 0.3s;
					&.active {
						opacity: 1;
					}
				}
			}
			input {
				border: none;
				padding: 12px;
				border-radius: 5px;
				width: 85%;
				@media (max-width: 500px) {
					width: 80%;
				}
			}
			button {
				border-radius: 5px;
				padding: 12px 18px;
				background: #F74069;
				color: $color-white;
				cursor: pointer;
				margin-left: -3px;
				border: none;
				@media (min-width: 501px) {
					&:hover {
						background: #ff1919;
					}
				}
				
			}
		}
	}
}



//?FOOTER--------------------------------
.hidden-footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	@media (max-width: 500px) {
	}
}

.footer {
	&__box {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__images {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		margin-bottom: 45px;
		@media (max-width: 500px) {
			flex-wrap: wrap;	
		}
		img {
			width: 60px;
			height: 60px;
			&:nth-child(2) {
				width: 140px;
				height: 60px;
			}
		}
	}
	&__lists {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 0 0 30px 0;
		border-bottom: 2px solid #D8D9DC;
		@media (max-width: 500px) {
			flex-direction: column;
			gap: 0;
			padding: 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 20px;
			@media (max-width: 500px) {
				gap: 0;
				padding: 20px 20px 20px 0;
				border-top: 1px solid #D8D9DC;
				div:nth-child(2) {
					max-height: 0;
					opacity: 0;
					overflow: hidden;
					transition: all 0.5s ease-in-out;
					pointer-events: none; 
					&.active {
						margin-top: 20px;
						max-height: 500px;
						opacity: 1;
						pointer-events: all;
					}
					
					}
				>div:first-child {
					display: flex;
					justify-content: space-between;
					align-items: center;
					&:after {
						content: '>';
						position: relative;
						right: 0;
						font-size: 15px;
						color: #3E89F8;
					}
				}
			}
			li {
				margin-bottom: 10px;

				opacity: 0.69;
				&:last-child {
					margin-bottom: 20px;
				}
				a {
					color: #3E89F8;
					transition: color 0.3s;
					text-decoration: none;
					&:hover {
						color: #0042a6;
					}
				}
			}
		}

	}

	&__social {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		@media (max-width: 500px) {
			flex-direction: column;
			gap: 30px;
		}
		&-left {
			display: flex;
			gap: 10px;
			@media (max-width: 500px) {
				gap: 20px;
				flex-wrap: wrap;
				justify-content: center;
			}
			a {
				&:first-child {
					text-decoration: none;
					color: #3E89F8;
					transition: all 0.3s;
					display: flex;
					align-items: center;
					@media (min-width: 501px) {	
						&:hover {
							color: $color-white;
							background: #3E89F8;
						}
					}
					@media (max-width: 500px) {
						&:active {
							color: $color-white;
							background: #3E89F8;
						}
					}
					margin-right: 10px;
					border-radius: 5px;
					padding: 10px 15px;
					border: 1px solid #3E89F8;
				}
				&:nth-child(2) {
					text-decoration: none;
					color: $color-white;
					transition: all 0.3s;
					margin-right: 10px;
					border-radius: 5px;
					padding: 8px 25px;
					background: black;
					display: flex;
					align-items: center;
					&:before {
						content: url(../img/footer/google-play.svg);
						margin-right: 10px;
					}
					@media (min-width: 501px) {
						&:hover {
							transform: scale(1.05);
						}
					}



				}
				&:last-child {
					text-decoration: none;
					color: $color-white;
					transition: all 0.3s;
					margin-right: 10px;
					border-radius: 5px;
					padding: 8px 25px;
					background: black;
					display: flex;
					align-items: center;
					&:before {
						content: url(../img/footer/apple.svg);
						margin-right: 10px;
					}
					@media (min-width: 501px) {
						&:hover {
							transform: scale(1.05);
						}
					}
				}

			}
		}

		&-right {
			display: flex;
			gap: 10px;
			align-items: center;
			@media (max-width: 500px) {
				margin-bottom: 20px;
				justify-content: center;
			}
			img {
				filter: grayscale(100%);
				transition: filter 0.3s;
				cursor: pointer;
				@media (min-width: 501px) {
					&:hover {
						filter: grayscale(0%);
					}
				}
				@media (max-width: 500px) {
					&:active {
						filter: grayscale(0%);
					}
				}
				
			}
		}
	}

}

.inactive-btn {
	&:hover {
		background: #8961ca;
	}
}






